<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 可能會有異動的行數：9、10、11  -->
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">P@ssw0rd</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=MyHBN</property>
        <property name="hibernate.connection.username">user01</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        
        <!-- *********************以下是自己加的********************* -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        		<!-- PDF題目相關註冊 -->
        <mapping class="tw.group5.subarashiiproject.model.tajen.Users"/>
        <mapping class="tw.group5.subarashiiproject.model.josh.Users1"/>
        <mapping class="tw.group5.subarashiiproject.model.josh.Lottery1"/>
        <mapping class="tw.group5.subarashiiproject.model.tajen.Lottery"/>

        <!-- ****************************************************** -->
        <mapping class="tw.group5.subarashiiproject.model.ken.UserBean_ken"/>
        <mapping class="tw.group5.subarashiiproject.model.ken.Lottery_Bean_ken"/>
        
    </session-factory>
</hibernate-configuration>
