<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 可能會有異動的行數：9、10、11  -->
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">Passw0rd</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databasename=MyHBN</property>
        <property name="hibernate.connection.username">user01</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        
        <!-- *********************以下是自己加的********************* -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        		<!-- 1. 我要在console上看到SQL語句 -->
        <property name="hibernate.show_sql">true</property>
        		<!-- 2. 把SQL排版格式化好看一點 -->
        <property name="hibernate.format_sql">true</property>
        
        	<!-- 設定映射關係 -->
        <mapping resource="tw/geniuswang/hibernateproject/model/HouseBean.hbm.xml"></mapping>
        <mapping class="tw.geniuswang.hibernateproject.model.Department"></mapping>
        
        <mapping class="tw.geniuswang.hibernateproject.model.Book"></mapping>
        <mapping class="tw.geniuswang.hibernateproject.model.BookDetail"></mapping>
        
        <mapping class="tw.geniuswang.hibernateproject.model.Stock"></mapping>
        <mapping class="tw.geniuswang.hibernateproject.model.StockTransaction"></mapping>
        
        <mapping class="tw.geniuswang.hibernateproject.model.Users"></mapping>
        <!-- ****************************************************** -->
        
    </session-factory>
</hibernate-configuration>
